* {
  -webkit-touch-callout: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

p {

}

a {
  cursor: pointer;
}

blockquote {

}
/* ... */

@font-face {
	font-family:'steelfish';
	src: url('../fonts/steelfish-webfont.eot');
	src: url('../fonts/steelfish-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/steelfish-webfont.woff') format('woff'),
		url('../fonts/steelfish-webfont.ttf') format('truetype'),
		url('../fonts/steelfish-webfont.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:'gotham-book';
	src: url('../fonts/gotham-book.eot');
	src: url('../fonts/gotham-book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gotham-book.woff') format('woff'),
		url('../fonts/gotham-book.ttf') format('truetype'),
		url('../fonts/gotham-book.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:'gotham-book-italic';
	src: url('../fonts/gotham-book-italic.eot');
	src: url('../fonts/gotham-book-italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gotham-book-italic.woff') format('woff'),
		url('../fonts/gotham-book-italic.ttf') format('truetype'),
		url('../fonts/gotham-book-italic.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:'gotham-bold';
	src: url('../fonts/gotham-bold.eot');
	src: url('../fonts/gotham-bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gotham-bold.woff') format('woff'),
		url('../fonts/gotham-bold.ttf') format('truetype'),
		url('../fonts/gotham-bold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}