@mixin full() {
    position: absolute;
    height : 100%;
    width:100%;
    left: 0;
    top: 0;
}

@mixin gradient($colorA, $colorB){
    background: $colorA; /* Old browsers */
    background: -moz-linear-gradient(left, $colorA, 25%, $colorA 25%, $colorB 78%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, $colorA 25%,$colorA 25%,$colorB 78%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, $colorA 25%,$colorA 25%,$colorB 78%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colorA', endColorstr='$colorB',GradientType=1 ); /* IE6 */  
}

@mixin vertical-gradient($colorA, $colorB){
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */
    background: $colorA; /* Old browsers */
    background: -moz-linear-gradient(top,  $colorA 0%, $colorB 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  $colorA 0%,$colorB 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  $colorA 0%,$colorB 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colorA', endColorstr='$colorB',GradientType=0 ); /* IE6-9 */ 
}



//en vrais, on a plus besoin de prefix sur transition
@mixin transition($transition...) {
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -ms-transform: $transform;
    transform: $transform;
}

@mixin transform-origin($transform-origin) {
    -webkit-transform-origin: $transform-origin;
    -moz-transform-origin: $transform-origin;
    -ms-transform-origin: $transform-origin;
    -o-transform-origin: $transform-origin;
    transform-origin: $transform-origin;
}

@mixin opacity($value) {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$value * 100})";
    filter: alpha(opacity=#{$value * 100});
    -moz-opacity: $value;
    -khtml-opacity: $value;
    opacity: $value;
}

@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
}