/* default classes */

*{
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

::selection {
}

html{
	overflow-x: hidden;
	font-family: $steelfish;
	position: relative;
}

body{
	background: $dark-white;
	background: url(../img/bg-bruit.jpg) repeat;
	overflow: scroll;
}

img{
	max-width: 100%;
}

ul{
	padding: 0;
	margin: 0;
}

li{
	list-style-type: none;
}

p{
	margin: 10px 0;
}

a{
	text-decoration: none;
	color: $black;
}

h1{
	
}

h2{
	font-family: $gotham-bold;
	font-size: 18px;
	color: $black;
	text-align: center;
	text-transform: uppercase;
	margin: 30px 0;
}

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"]{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip:padding-box;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
	-webkit-appearance:none;
	background-color:#fff;
	color:#000;
	outline:0;
	margin:0;
	padding:0;
	text-align: left;
	font-size:1em;
	height: 1em;
	vertical-align: middle;
}

select{

	background:#fff url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
	background-repeat: no-repeat;
	background-position: 97% center;
	padding:0 25px 0 8px;
	font-size: .875em

}

.title-nav{
	&:after{
		content: '';
		display: block;
		width: 9px;
		height: 15px;
		background: url(../img/pictos.png) no-repeat;
		background-size: 275%;
		background-position: 0 0;
		margin: auto;
		margin-top: 10px;
	}
}

h3{
	font-family: $steelfish;
}

.subtitle{
	font-family: $gotham-book-italic;
	font-size: 21px;
	line-height: 25px;
	text-transform: uppercase;
}

.btn-play{
	height: 0;
	width: 0;
	display: block;
	border-right: 0;
	border-top: 28px solid transparent;
	border-bottom: 28px solid transparent;
	border-left: 34px solid #fff;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%));
}

header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding-bottom: 45px;
	z-index: 999;

	&.small{
		.logo:after{
			@include opacity(0);
		}

		.wrapper{
			padding-top: 10px;
		}
	}
}


.menu-main{
	background: $grey;
	padding: 10px 55px;
	position: absolute;
	top: 0;
	right: 0;
	width: 280px;
	text-align: right;
	padding-top: 110px;
	padding-bottom: 50px;
	z-index: -1;
	display: none;
	@include opacity(0);
	@include transition(all 0.2s ease-in);

	&.open{
		@include opacity(1);
	}

	a,p{
		@include opacity(1);
		@include transform(translateX(0));
		@include transition(all 0.2s ease)
	}

	.hidden{
		@include opacity(0);
		@include transform(translateX(-10px));
	}

	.ss-bloc-navigation{
		margin-bottom: 60px;

		a{
			border-bottom: 1px solid rgba(255, 255, 255, 0.4);
			padding: 15px 0;
		}

		a:hover{
			color: #ffffff;
			@include transform(translateX(-10px));
		}

		.ss-icon{
			font-family: $social;
		}
	}

	.ss-bloc-contact{
		p, a{
			text-transform: none;
			font-size: 15px;
			font-family: $gotham-book;
			color: #ffffff;
		}

		p a{
			display: inline-block;
		}

		.ss-icon{
			font-family: $social;
			color: $grey;
			background: #ffffff;
			width: 33px;
			margin-left: 20px;
			text-align: center;
			padding: 18px 0 14px;
			font-size: 15px;
			line-height: 0;
			margin-top: 5px;

			&:hover{
				background: #51515B;
			}
		}
	}

	a{
		font-family: $gotham-bold;
 		font-size: 17px;
		text-transform: uppercase;
		color: #ccc;
		color: rgba(255, 255, 255, 0.4);
		display: block;
		@include transition(all 0.2s ease);



		&.link-library{
			margin-top: 50px;
			color: $blue;
		}

		&.link-ondemand{
			color: $green;
		}
	}
}


.picto{
	background: url(../img/pictos.png) no-repeat;
	display: inline-block;
	vertical-align: bottom;
	width: 16px;
	height: 18px;
	margin-right: 5px;
}

.picto-mail{
	background-position: -3px -45px;
}

.picto-tel{
	background-position: -3px -64px;
}


.bloc{
	position: relative;
}

.bx-controls{
	display: none;
}

.bx-wrapper{
	margin-bottom: 30px;
}

.bx-wrapper, .bx-viewport{
	left: 0;
}

.wrapper{
	width: 1400px;
	margin: auto;
	padding-top: 40px;
	position: relative;
}

.top-bar, .bottom-bar{
	width: 100%;
	height: 10px;
	z-index: 999;
	left: 0;	
	@include gradient($blue, $green);
}

.top-bar{
	position: absolute;
	top: 0;
}

.bottom-bar{
	position: absolute;
	bottom: 0;
}

.btn-menu{
	text-transform: uppercase;
	font-size: 18px;
	float: right;
	margin-right: 20px;
	font-family: $gotham-bold;
	color: $black;

	.txt{
	}

	.bar{
		display: inline-block; 
		margin-left: 15px;
		margin-top: 38px;
		width: 1px;
		height: 13px;
		background: $black;
	}

	.burger{
		width: 18px;
		height: 18px;
		display: inline-block;
		position: relative;
		margin-left: 12px;

		span{
			width: 100%;
			height: 3px;
			@include gradient(#333, #333);
			display: block;
			margin-top: 3px;
			left: 0;
			position: relative;
			@include transition(all 0.2s ease-out);
		}

	}

	&.open{
		color: #fff;

		.burger span{
			background: #fff;
		}

		&:hover{
			.burger span{
				background: #fff;
			}
		}
	}

	&:hover{

		.burger span{
			@include gradient($blue, $green);
		}

		.burger span:nth-child(1), 
		.burger span:nth-child(3){
			left: -3px;
		}

		&.open .burger span:nth-child(1), 
		&.open .burger span:nth-child(3){
			left: 0;
		}
		
	}

}

.bg{
	position: fixed;
	width: 100%;
	z-index: -1;
	.form{
		position: absolute;
		@include transition(all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1));
	}
}

.bx-wrapper .bx-viewport{
	border: 0;
	box-shadow: none;
}

.rond1{
	background: url(../img/rond1.png) no-repeat center;
	background-size: cover;
	width: 350px;
	height: 350px;
	top: 270px;
	left: -210px;
}
.petit-rond1{
	background: url(../img/petit-rond1.png) no-repeat center;
	background-size: cover;
	width: 70px;
	height: 70px;
	top: 600px;
	left: -250px;
}
.barre-gauche1{
	background: url(../img/barre-gauche1.png) no-repeat center;
	background-size: cover;
	width: 250px;
	height: 470px;
	top: 1045px;
	left: -210px;
}
.barre-gauche2{
	background: url(../img/barre-gauche2.png) no-repeat center;
	background-size: cover;
	width: 325px;
	height: 350px;
	top: 2300px;
	left: -320px;
}
.rond2{
	background: url(../img/rond2.png) no-repeat center;
	background-size: cover;
	width: 250px;
	height: 250px;
	left: 1250px;
	top: 850px;
}
.petit-rond2{
	background: url(../img/petit-rond2.png) no-repeat center;
	background-size: cover;
	width: 70px;
	height: 70px;
	top: 1145px;
	left: 1450px;
}
.rond3{
	background: url(../img/rond3.png) no-repeat center;
	background-size: cover;
	width: 450px;
	height: 450px;
	right: 0;
	top: 2940px;
}
.petit-rond3{
	background: url(../img/petit-rond3.png) no-repeat center;
	background-size: cover;
	width: 70px;
	height: 70px;
	top: 2050px;
	left: -150px;
}
.barre-droite1{
	background: url(../img/barre-droite1.png) no-repeat center;
	background-size: cover;
	width: 130px;
	height: 230px;
	top: 1740px;
	left: 1175px;
}

/**** HEADER ****/

header{
	padding-top: 15px;

	.wrapper{
		@include transition(all 0.5s ease-out);
	}
}

.logo{
	display: inline-block;
	width: 190px;
	position: relative;
	

	&:after{
		content:"Music library \A On-demand production ";
		white-space: pre;
		display: inline-block;
		font-family: $gotham-bold;
		position: absolute;
		bottom: 0;
		right: -108%;
		font-size: 14px;
		line-height: 1.15em;
		@include opacity(1);
		@include transition(all 0.3s ease-in);

	}
}


/**** FOOTER *****/


footer{
	background: $grey;
	padding: 30px 0 100px;
	width: 100%;
	position: absolute;

	.logo{
		display: block;

		&:after{
			color: #fff;
		}
	}

	hr{
		display: block;
		width: 100%;
		height: 1px;
		background: #c9c9c9;
		background: rgba(201,201,201,0.5);
		margin: 40px 0;
		border: 0;
	}
}

.btn-backtotop{
	position: absolute;
	top: -80px;
	right: 0;
	display: block;
	height: 50px;
	width: 50px;
	background: #27272f;
	color: #fff;
	@include transition(all 0.2s ease);
	background: url(../img/nav-arrow-prev.png) no-repeat center #27272f;
	background-size: 25px;

	&:hover{
		background: url(../img/nav-arrow-prev.png) no-repeat center lighten(#27272f, 2);
		background-size: 25px;
	}
}

.col-footer{
	display: inline-block;
	width: 25%;
	vertical-align: top;
	padding-right: 120px;

	a{
		color: #fff;
		font-size: 17px;
		line-height: 1em;
		margin-bottom: 8px;
		font-family: $gotham-bold;
		display: block;
		text-transform: uppercase;
	}

	.font-italic{
		font-family: $gotham-book-italic;
		@include opacity(0.45);
	}
}

.col-footer-contact{
	a{
		text-transform: none;
		font-size: 15px;
		font-family: $gotham-book;
		line-height: 1.15em;
	}


	.ss-icon{
		font-family: $social;
		color: $grey;
		background: #ffffff;
		width: 33px;
		margin-right: 20px;
		text-align: center;
		padding: 18px 0 14px;
		font-size: 15px;
		line-height: 0;
		margin-top: 5px;
		display: inline-block;

		&:hover{
			background: #51515B;
		}
	}
}

