/* default classes */

*{
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

::selection {
}

html{
	overflow-x: hidden;
	font-family: $steelfish;
}

body{
	background: $dark-white;
}

img{
	max-width: 100%;
}

ul{
	padding: 0;
	margin: 0;
}

li{
	list-style-type: none;
}

p{
	margin: 10px 0;
}

a{
	text-decoration: none;
	color: $black;
}

h1{
	
}

h2{
	font-family: $gotham-bold;
	font-size: 18px;
	color: $black;
	text-align: center;
	text-transform: uppercase;
}

.title-nav{
	&:after{
		content: '';
		display: block;
		width: 18px;
		height: 30px;
		background: url(../img/pictos.png) no-repeat;
		background-size: 50%;
		background-position: 0 0;
		margin: auto;
		margin-top: 10px;
	}
}

h3{
	font-family: $steelfish;
}

.wrapper{
	width: 1000px;
	margin: auto;
	padding-top: 25px;
	background: $dark-white;
}

.top-bar, .bottom-bar{
	width: 100%;
	height: 10px;
	z-index: 999;
	left: 0;	
	@include gradient($blue, $green);
}

.top-bar{
	position: fixed;
	top: 0;
}

.bottom-bar{
	position: fixed;
	bottom: 0;
}

.btn-menu{
	text-transform: uppercase;
	font-size: 18px;
	float: right;
	font-family: $gotham-bold;
	color: $black;

	.bar{
		display: inline-block; 
		margin-left: 15px;
		margin-top: 38px;
		width: 1px;
		height: 13px;
		background: $black;
	}

	.burger{
		width: 18px;
		height: 18px;
		display: inline-block;
		position: relative;
		margin-left: 12px;

		span{
			width: 100%;
			height: 3px;
			@include gradient(#333, #333);
			display: block;
			margin-top: 3px;
			@include transition(all 0.2s ease-out);
		}
	}

	&:hover{

		.burger span{
			@include gradient($blue, $green);
		}

		.burger span:nth-child(1), 
		.burger span:nth-child(3){
			@include transform(translateX(-3px));
		}

	}

}

.bg{
	position: absolute;
	width: 100%;
	z-index: -1;
	.form{
		position: absolute;
	}
}

.bx-wrapper .bx-viewport{
	border: 0;
	box-shadow: none;
}

.slideshow{
	margin-top: 60px;
	position: relative;

	a, p, h3{
		color: #ffffff;
		text-transform: uppercase;
	}

	.content{
		position: absolute;
		bottom: 40px;
		left: 150px;
	}

	.trame{
		background: url();
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
	}

	li{
		width: 1200px;
		height: 525px;
	}

	h3{
		font-size: 50px;

		&:after{
			content: "";
			height: 1px;
			width: 30px;
			display: block;
			margin-top: 15px;
			background: #ffffff;
			background: rgba(255, 255, 255, 0.63);
		}
	}

	p{
		font-size: 23px;
		margin: 0;
	}

	.brand{
		font-family: $gotham-bold;
	}

	.type{
		font-family: $gotham-book-italic;
	}
}

.pushs{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

.push{
	width: 100%;
	padding: 40px 50px;
	width: 300px;
	text-align: center;

	span{
		font-family: $gotham-bold;
		font-size: 18px;
		text-transform: uppercase;
		color: #ffffff;
		color: rgba(255, 255, 255, 0.7);
		display: inline-block;
	}

	p{
		font-family: $gotham-book;
		font-size: 18px;
		text-transform: none;
	}

	.push-title{
		font-size: 40px;
		text-transform: uppercase;
		font-family: $steelfish;
		margin: 15px 0;
	}

	.btn-push{
		background: #fff;
		padding: 8px 15px;
		display: inline-block;
		margin-top: 20px;
	}
}

.push-library{
	background: $blue;
	.btn-push{
		color: $blue;

		&:before{
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 15px;
			height: 8px;
			margin-right: 10px;
			background: url(../img/pictos.png) no-repeat;
			background-size: 175%;
			background-position: -12px 0;
		}
	}
}


.push-production{
	background: $green;

	.btn-push{
		color: $green;

		&:before{
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 15px;
			height: 8px;
			margin-right: 10px;
			background: url(../img/pictos.png) no-repeat;
			background-size: 175%;
			background-position: -12px -10px;
		}
	}
}



.rond1{
	background: url(../img/rond1.png) no-repeat center;
	background-size: cover;
	width: 350px;
	height: 350px;
	top: 270px;
}
.petit-rond1{
	background: url(../img/petit-rond1.png) no-repeat center;
	background-size: cover;
	width: 70px;
	height: 70px;
	top: 600px;
}
.barre-gauche1{
	background: url(../img/barre-gauche1.png) no-repeat center;
	background-size: cover;
	width: 250px;
	height: 470px;
	top: 1045px;
	left: 0;
}
.barre-gauche2{
	background: url(../img/barre-gauche2.png) no-repeat center;
	background-size: cover;
	width: 325px;
	height: 350px;
	top: 2370px;
	left: 0;
}
.rond2{
	background: url(../img/rond2.png) no-repeat center;
	background-size: cover;
	width: 250px;
	height: 250px;
	right: 0;
	top: 990px;
}
.petit-rond2{
	background: url(../img/petit-rond2.png) no-repeat center;
	background-size: cover;
	width: 70px;
	height: 70px;
	top: 1280px;
	right: 0;
}
.rond3{
	background: url(../img/rond3.png) no-repeat center;
	background-size: cover;
	width: 450px;
	height: 450px;
	right: 0;
	top: 2940px;
}
.barre-droite1{
	background: url(../img/barre-droite1.png) no-repeat center;
	background-size: cover;
	width: 130px;
	height: 230px;
	top: 1740px;
	right: 0;
}

/**** HEADER ****/

header{
	padding-top: 15px;
}

.logo{
	display: inline-block;
	width: 190px;
	position: relative;

	&:after{
		content:"Music library \A On-demand production ";
		white-space: pre;
		display: inline-block;
		font-family: $gotham-bold;
		position: absolute;
		bottom: 0;
		right: -108%;
		font-size: 14px;
		line-height: 1.15em;
	}
}

