@import '_normalize';
@import '_variables';
@import '_functions';
@import '_fonts';
@import '_ui';

.slideshow-frame, .services-frame{
	width: $desktop-width;
	height: 650px;
	position: absolute;
	left: 60px;
	top: 60px;
	border-left: 3px solid $blue;
	border-right: 3px solid $green;
	z-index: 1;

	&:before{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 3px;
		background: $green;
		@include gradient($blue, $green);
	}

	&:after{
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 3px;
		background: $green;
		@include gradient($blue, $green);
	}

	nav{
		position: absolute;
		bottom: 135px;
		left: -27px;
		a{
			display: block;
			height: 50px;
			width: 50px;
			background: #27272f;
			color: #fff;
			@include transition(all 0.2s ease);

			&.prev{
				background: url(../img/nav-arrow-prev.png) no-repeat center #27272f;
				background-size: 25px;

				&:hover{
					background: url(../img/nav-arrow-prev.png) no-repeat center #363640;
					background-size: 25px;
/*					background-position: center 15px;
*/				}
			}

			&.next{
				background: url(../img/nav-arrow-next.png) no-repeat center #27272f;
				background-size: 25px;

				&:hover{
					background: url(../img/nav-arrow-next.png) no-repeat center #363640;
					background-size: 25px;
/*					background-position: center 25px;
*/				}
			}
		}
	}
}


.slideshow{
	margin-top: 105px;
	position: relative;
	width: $desktop-width;

	a, p, h3{
		color: #ffffff;
		text-transform: uppercase;
	}

	.content{
		position: absolute;
		bottom: 33px;
		left: 129px;
	}

	.trame{
		background: url();
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
	}

	li{
		width: $desktop-width;
		height: 612px;
	}

	h3{
		font-size: 50px;

		&:after{
			content: "";
			height: 1px;
			width: 30px;
			display: block;
			margin-top: 15px;
			background: #ffffff;
			background: rgba(255, 255, 255, 0.63);
		}
	}

	p{
		font-size: 23px;
		margin: 0;
	}

	.brand{
		font-family: $gotham-bold;
	}

	.type{
		font-family: $gotham-book-italic;
	}
}

.pushs{
	position: absolute;
	top: 0;
	right: 200px;
	z-index: 2;
}

.push{
	width: 100%;
	padding: 35px 60px 40px;
	width: 300px;
	text-align: center;

	span{
		font-family: $gotham-bold;
		font-size: 15px;
		text-transform: uppercase;
		color: #ffffff;
		color: rgba(255, 255, 255, 0.7);
		display: block;
		margin: auto;
	}

	p{
		font-family: $gotham-book;
		font-size: 18px;
		text-transform: none;
		line-height: 1em;
	}

	.push-title{
		font-size: 40px;
		text-transform: uppercase;
		font-family: $steelfish;
		margin: 15px 0;
		line-height: 1em;
		position: relative;
		display: inline-block;

		&:before{
			content: "";
			position: absolute;
			left: -45px;
			display: inline-block;
			top: 50%;
			height: 1px;
			width: 30px;
			background: rgba(255,255,255, 0.44);
		}

		&:after{
			content: "";
			display: inline-block;
			height: 1px;
			width: 30px;
			top: 50%;
			position: absolute;
			right: -45px;
			background: rgba(255,255,255, 0.44);
		}
	}

	.btn-push{
		background: #fff;
		padding: 8px 15px;
		display: inline-block;
		margin-top: 20px;
		text-transform: uppercase;
		font-size: 20px;

		&:before{
			position: relative;
			top: -1px;
		}
	}
}

.push-library{
	@include vertical-gradient(#2475a1, #214695);
	.btn-push{
		color: $blue;

		&:before{
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 15px;
			height: 8px;
			margin-right: 10px;
			background: url(../img/pictos.png) no-repeat;
			background-size: 175%;
			background-position: -12px 0;
		}
	}
}


.push-production{
	@include vertical-gradient(#2ce1be, #29b2b2);

	.btn-push{
		color: $green;

		&:before{
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 15px;
			height: 8px;
			margin-right: 10px;
			background: url(../img/pictos.png) no-repeat;
			background-size: 175%;
			background-position: -12px -10px;
		}
	}

}


/* Projets */

.filters{
	margin-top: 65px;
	width: 100%;
	position: relative;
}

.select-slash{
	display: block;
	position: absolute;
	left: 33.29%;
	top: 11px;
	height: 30px;
	width: 1px;
	background: #ffffff;
	background: rgba(255, 255, 255, 0.63);
}

.filter{
	background: #27272f;
	width: 33.48%;
	display: inline-block;
	text-transform: uppercase;
	color: #fff;
	font-size: 17px;
	padding: 18px 65px;
	height: 54px;
	line-height: 1em;
	border: 0;
	margin-right: -4px;
}

.filter-brand{
	font-family: $gotham-bold;
}

.filter-type{
	font-family: $gotham-book-italic;
}

.bloc-projets{
	margin-top: 50px;
	margin-bottom: 30px;

	.projets-liste{
	}

	li{
		width: 33.43%;
		display: inline-block;
		margin-right: -4px;
		color: #ffffff;
		position: relative;
		margin-bottom: -4px;

		.content{
			width: 100%;
			height: 0;
			padding-bottom: 60%;
		}

		.overlay{
			background: rgba(0, 0, 0, 0.7);
			padding: 40px 40px 30px;
			height: 100%;
			display: block; 
			position: absolute;
			top: 0;
			left: 0; 
			width: 100%;
			bottom: 0;
			@include opacity(0);
			@include transition(opacity 0.3s ease-out);

			h3, p{
				@include opacity(0);
				@include transition(opacity 0.3s ease-in 0.2s);		
			}

		}

		&:hover h3, &:hover p, &:hover .overlay{
			@include opacity(1);
		}

		h3{
			font-size: 30px;
			font-family: $steelfish;
			text-transform: uppercase;
			margin: 0;

			&:after{
				content: "";
				display: block;
				height: 1px;
				width: 30px;
				margin-top: 15px;
				background: #ffffff;
			}
		}

		p, a{
			color: #fff;
		}

		.brand{
			font-family: $gotham-bold;
			font-size: 19px;
			margin-bottom: 0;

			&:after{
				content: "";
				display: block;
				position: absolute;
				right: 0;
				top: 10px;
				height: 30px;
				width: 1px;
				background: #ffffff;
			}
		}

		.type{
			font-family: $gotham-book-italic;
			font-size: 17px;
			margin: 0;
		}
		
	}

	.projets-more{
		text-align: center;
		display: block;
		color: #fff;
		background: #27272f;
		width: 100%;
		padding: 25px;
		height: 54px;
		font-size: 30px;
		font-family: $gotham-book;
		line-height: 0;
		position: relative;
		top: -2px;
		@include transition(all 0.3s ease);

		&:hover{
			background: lighten(#27272f, 2);
			background-position: center 15px;
			padding: 28px;
		}
	}
}


/* CONTACT */

.bloc-contact{

	background: #eeeeee;
	padding: 60px 0;
	font-family: $gotham-book;
	margin-top: 60px;
	padding-bottom: 100px;
	margin-bottom: 140px;

	::-webkit-input-placeholder {
	   color: #aaa;
	   font-family: $gotham-book-italic;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: #aaa;
	   font-family: $gotham-book-italic; 
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: #aaa;
	   font-family: $gotham-book-italic;
	}

	:-ms-input-placeholder {  
	   color: #aaa;
	   font-family: $gotham-book-italic;  
	}

	h3{
		font-size: 23px;
		text-transform: uppercase;
		font-family: $gotham-bold;

		&:after{
			content: "";
			display: block;
			height: 1px;
			width: 30px;
			margin-top: 15px;
			background: #696969;
			background: $black;
		}
	}

	p{
		text-transform: uppercase;
		font-family: $gotham-bold;
		margin-top: 25px;
	}

	.subtitle{
		font-family: $gotham-book-italic;
	}

	.col{
		display: inline-block;
		vertical-align: bottom;
		width: 50%;
		padding: 0 50px;
		position: relative;
	}

	.col-a{
		margin-right: -8px;
	}

	input, textarea{
		border: 3px solid #aaaaaa;
		padding: 20px 20px;
		background: #ffffff;
		margin-top: 15px;
		width: 100%;
	}

	textarea{
		height: 257px;
	}

	input[type="submit"]{
		float: right;
		background: #27272f;
		border: 0;
		font-family: $steelfish;
		color: #fff;
		font-size: 20px;
		padding: 10px 20px;
		
		
	}

	.submit{
		right: 50px;
		bottom: -90px;
		position: absolute;	
	}

}


/* SERVICES */

.bloc-services{
	padding: 30px 0 0 0;

	.services-frame{
		top: 0;
		height: 800px;
	}

	h4{
		font-family: $gotham-bold;
		font-size: 20px;
		text-transform: uppercase;
		padding-left: 130px;

		&:after{
			content: "";
			display: block;
			height: 1px;
			width: 30px;
			margin-top: 15px;
			background: #ffffff;
			background: $black;
		}
	}

	&>p{
		font-family: $gotham-book-italic;
		font-size: 18px;
		text-transform: uppercase;
		padding-left: 130px;
	}

	.pushs{
		width: 100%;
		position: relative;
		right: auto;
		margin-top: 50px;
	}

	.push{
		display: inline-block;
		vertical-align: top;
		height: 430px;
		width: 25%;
		position: relative;

		span{
			background: url(../img/pictos-services.png) no-repeat;
			background-size: 84px;
			width: 40px;
			height: 40px;
			@include opacity(0.45);
		}

		.push-title{
			color: #fff;
			margin: 20px 0 30px;
		}

		p{
			color: #fff;
		}
		
		.btn-push{
			position: absolute;
			bottom: 30px;
			left: 50%;
			@include transform(translateX(-50%));
		}
	}

	.push-library{
		background: $blue;
		@include vertical-gradient(#2475a1, #214695);

		span{
			background-position: 0 -45px;
		}

		.btn-push{
			color: $blue;

			&:before{
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 15px;
				height: 8px;
				margin-right: 10px;
				background: url(../img/pictos.png) no-repeat;
				background-size: 175%;
				background-position: -12px 0;
			}
		}
	}

	.push-production{
		background: $green;
		@include vertical-gradient(#2ce1be, #29b2b2);

		span{
			background-position: -45px -45px;
		}

		.btn-push{
			color: #29b3b2;

			&:before{
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 15px;
				height: 8px;
				margin-right: 10px;
				background: url(../img/pictos.png) no-repeat;
				background-size: 175%;
				background-position: -12px -10px;
			}

		}
	}

	.push-sound-design{
		background: $red;
		@include vertical-gradient(#ee735e, #e75b5b);

		span{
			background-position: 0 -3px;
		}

		.btn-push{
			color: $red;

			&:before{
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 15px;
				height: 8px;
				margin-right: 10px;
				background: url(../img/pictos.png) no-repeat;
				background-size: 175%;
				background-position: -12px -21px;
			}

		}
	}

	.push-identity{
		background: $orange;
		@include vertical-gradient(#ffaa65, #f89262);

		span{
			background-position: -40px 0;
		}

		.btn-push{
			color: $orange;

			&:before{
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 15px;
				height: 8px;
				margin-right: 10px;
				background: url(../img/pictos.png) no-repeat;
				background-size: 175%;
				background-position: -12px -31px;
			}
		}
	}
}

@import '_mobile';